@media only screen and (min-width: 38rem){
    header ,main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }
    header{
        grid-template-columns: 24px auto;
    }
    .hamburger{
        display: none;
    }
    .navigation{
        display: block;
    }
    .navigation ul{
        display: flex;
         justify-content: space-around;
    }

 



#hero{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

#hero img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}


/* center button over image */
#btn{
    bottom: 40px;
    left: 40px;

    padding: 1rem 2rem;

    font-size: 1.1rem;
    border-radius: 14px;
}
  .layout{
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: start;
}

.box{
    height: 100%;
}

.content{
    min-height: 220px;
}
    #spotlights{
        grid-template-columns: repeat(3, 1fr);
    }
}